body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF; }
.container {
    max width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* #region header */
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
}
.page-nav {
    display: flex;
 
    justify-content: space-between;
    gap: 76px;}

.header-logo{
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    align-items: center;
    display: flex;;}

.nav-list {
            display: flex;
            gap: 40px;
            list-style: none;
        }
        .nav-list-item a {display: block;
        padding: 20 0;}
.studio{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.header-logo:hover :focus{color: #404bbf;}
.nav-link{

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none; }
    .nav-link:hover,
    .nav-link:focus{
        color: #404bbf; }
    .page-adress{ 
        font-style: normal;}
    .adress-list{ 
        display: flex;
        gap: 40px;
         list-style: none;}
    .address-link{ 
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;}
    .address-link:hover,
    .address-link:focus{
        color: #404bbf;}

/* #endregion header */
/* #region hero */
.section-hero{ background-color: #2e2f42;
    width: 1440px;
    height: 600px;}
.title-hero{
    
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 188px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    max-width: 496px;}
.button-hero{ 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    }
    .button-hero:hover{background-color: #404bbf;}
    .button-hero:focus{background-color: #404bbf;}
/* #endregion hero */
/* #region description */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-description{
    padding-top: 120px;
    padding-bottom: 120px;
}
.description-list{
    display: flex;
    gap: 24px;
    list-style: none;
    margin-left: 156px;
    margin-right: auto;
}
.description-list-item{
    flex-basis: calc((100% - 72px) / 4);
}
.description-title{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.description-text{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/* #endregion description */
/* #region team */
.team{background-color: #f4f4fd;}
.team-list{
    display: flex;
    gap: 24px;
    margin-left: 156px;
    margin-right: auto;
    list-style: none;
}
.our-team{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42}
    .team-list-item{background-color: #FFFFFF;}
    .team-name{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;}
    .team-vocation{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;;
    }
  
/* #endregion team */
/* #region portfolio */
.section-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-left: 156px;
    margin-right: auto;
    padding-top: 72px;
}
.portfolio{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio-img {}
.portfolio-title{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion portfolio */
/* #region footer */
.footer{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 312px;
    background-color: #2e2f42;
}
.footer-section{
    display: flex;
    justify-content: flex-start;
    padding: 100px 1020px 100px 156px;
    
}
.footer-logo{
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;}
    .footer-studio{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;}

.footer-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;}
        /* #endregion footer */